
:root {
    --clr-primary-darkblue: #1F2937;
    --clr-primary-gray: #E5E7EB;
    --clr-secondary-Text: #E5E7EB;
    --clr-primary-text: #F9FAF8;
    --clr-primary-button: #3882F6;
    --clr-secondary-white: #ffffff;
    

}

body {
    background: black;
    margin: 0px;
    margin: 0 auto;
}

/* first block starts here  */
.header {
    position: relative;
    background: var(--clr-primary-darkblue);
    color: var(--clr-primary-text);
    padding: 10em 20em;
    width: 100%;
}

.header-logo {
    position: absolute;
    color: var(--clr-secondary-white);
    font-size: 24px;
    top: .4rem;
    left: 8.5rem;
    font-size: 1rem;



}

.header-nav {
position: absolute;
display: flex;
flex-direction: row;
top: .5rem;
right: 4rem;
left: 30.5rem;
font-size: .8rem;
white-space: nowrap;
}

.header-nav ul {
    top: 1rem;
    margin:0;
    padding:0;
}

.header-nav li {
    
    margin-inline: .5rem;
    display: inline-block;
}

.header-main-message {
position: absolute;
top: 6.5rem;
left: 8.5rem;
font-size: 2rem;
word-break: break-word;
width: 15rem;


}
.header-sub-message {
    position: absolute;
    top: 11rem;
    left: 8.5rem;
    font-size: .8rem;
    word-break: break-word;
    width: 18rem;
}

.header-button {
    position: absolute;
    color: #E5E7EB;
    top: 14.2rem;
    left: 8.5rem;
    background-color: var(--clr-primary-button);
    border-radius: .3rem;
    border: none;
    padding: 0;
    width: 5rem;
    height: 1.5rem;

}